body
  color: #353535
  font-family: Helvetica, Arial, sans-serif
  
a
  color: #FF0066
  &:visited
    color: #09CABD

.block_1
  margin-top: 2em
  
  
.main
  margin: auto
  text-align: center
  width: 400px