%span="I write code at #{link_to( "Kapost", "http://kapost.com")}.".html_safe
%span="I live in #{link_to("Denver", "http://en.wikipedia.org/wiki/Denver")}.".html_safe

%p{ style: "margin-top: 2em; color: #BCB000" } Here are some lists I find useful:
