%h3.header_item="On my phone"

%a{href: "http://www.slingbox.com/go/slingplayer"}="SlingPlayer"
%a{href: "https://evernote.com"}="Evernote"
%a{href: "http://www.hipmunk.com"}="HipMunk"
%a{href: "http://instagram.com/ipixelu"}="I PIXEL U"
%a{href: "http://ghostly.com/discovery"}="Ghostly Discovery"
%a{href: "http://www.ridiculousfishing.com"}="Ridiculous Fishing"
%a{href: "http://www.monumentvalleygame.com/"}="Monument Valley"
%a{href: "http://kingdomrush.com/play/"}="Kingdom Rush"
%a{href: "http://desertgolfing.captain-games.com/"}="Desert Golfing"
%a{href: "https://pushover.net"}="Pushover"
%a{href: "https://www.robinhood.com/"}="Robinhood"
%a{href: "http://www.calm.com/"}="Calm"
%a{href: "https://slack.com/"}="Slack"
%a{href: "http://locometric.com/"}="Roomscan"