%h3.header_item="On my phone"

%a{href: "https://trello.com"}="Trello"
%a{href: "https://dropbox.com"}="Dropbox"
%a{href: "https://itunes.apple.com/us/app/nice-weather/id709290908?mt=8"}="NiceWeather"
%a{href: "http://www.pivotaltracker.com"}="PivotalTracker"
%a{href: "http://www.slingbox.com/go/slingplayer"}="SlingPlayer"
%a{href: "https://evernote.com"}="Evernote"
%a{href: "https://itunes.apple.com/us/app/alien-blue-reddit-client/id370144106?mt=8"}="Alien Blue"
%a{href: "http://www.hipmunk.com"}="HipMunk"
%a{href: "http://afterlight.us"}="Afterlight"
%a{href: "http://www.j2work.com/?page_id=1124"}="I PIXEL U"
%a{href: "http://www.ridiculousfishing.com"}="Ridiculous Fishing"
%a{href: "https://pushover.net"}="Pushover"
%a{href: "https://ifttt.com/dashboard"}="IFTTT"
%a{href: "https://www.quizup.com"}="QuizUp"