%h3.header_item="On my phone"

%a{href: "https://itunes.apple.com/us/app/slack-team-communication/id618783545?mt=8"}="Slack"
%a{href: "https://itunes.apple.com/us/app/line/id443904275?mt=8"}="Line"
%a{href: "https://itunes.apple.com/us/app/whatsapp-messenger/id310633997?mt=8"}="WhatsApp"
%a{href: "https://itunes.apple.com/us/app/uber/id368677368?mt=8"}="Uber"
%a{href: "https://itunes.apple.com/us/app/airbnb/id401626263?mt=8"}="Airbnb"
%a{href: "https://www.robinhood.com/"}="Robinhood"
%a{href: "https://itunes.apple.com/us/app/highball-share-collect-cocktail/id973319934?mt=8"}="Highball"
%a{href: "http://instagram.com/ipixelu"}="I PIXEL U"
%a{href: "http://ghostly.com/discovery"}="Ghostly Discovery"
%a{href: "http://www.ridiculousfishing.com"}="Ridiculous Fishing"
%a{href: "http://www.monumentvalleygame.com/"}="Monument Valley"
%a{href: "http://kingdomrush.com/play/"}="Kingdom Rush"
%a{href: "http://desertgolfing.captain-games.com/"}="Desert Golfing"
%a{href: "https://itunes.apple.com/us/app/corepower-yoga/id337876152?mt=8"}="CorePower"