%h3.header_item="Haven't been to"

%p="Stockholm, Helsinki, Copenhagen, Oslo, Bergen, St, Petersburg, Moscow, Berlin, Amsterdam, Madrid, Barcelona, Dublin, Edinburgh, Inverness, Marrakech, Tunis, Jerusalem, Istanbul, Budapest, Tehran, Dubai, Jaipur, Bangkok, Hanoi, Singapore, Melbourne, Auckland, Tokyo, Osaka, Seoul, Taipei, Beijing, Hong Kong, Buenos Aires, Sanitago, Montevideo, São Paulo, Quito, Mexico DF, Vancouver, Toronto"