%h3.header_item="Would like to visit"

%p="Bangkok, Beijing, Berlin, Budapest, Buenos Aires, Busan, Cairo, Cape Town, Dubai, Fez, Hanoi, Helsinki, Hong Kong, Istanbul, Jaipur, Jerusalem, Melbourne, Montevideo, Montreal, Moscow, Quito, Santiago, Seoul, Shanghai, Singapore, St. Petersburg, São Paulo, Tehran, Tierra del Fuego, Toronto, Tunis, Vancouver"

%h3.header_item="Have visited"

%p="Amsterdam, Barcelona, Bergen, Bordeaux, Copenhagen, Cuzco, Dublin, Edinburgh, Florence, Frankfurt, Genoa, Granada, Kyoto, Lima, Lisbon, London, Lyon, Madrid, Mexico DF, Munich, Osaka, Oslo, Paris, Prague, Rome, Salzburg, Santo Domingo, Stockholm, Taipei, Tangier, Tokyo, Venice, Zurich"
