%h3.header_item="Smarter than me"

%a{href: "https://xkcd.com"}="XKCD"
%a{href: "http://www.smbc-comics.com/"}="SMBC"
%a{href: "http://timharford.com/"}="Tim Harford"
%a{href: "http://www.maryroach.net/"}="Mary Roach"
%a{href: "http://www.youtube.com/pbsideachannel"}="PBS Idea Channel"
%a{href: "http://www.buenothebear.com/"}="Pendleton Ward"
%a{href: "http://www.grantland.com/contributor/_/name/zach-lowe"}="Zach Lowe"
%a{href: "http://20committee.com/"}="20 Committee"
%a{href: "http://www.avc.com/"}="Fred Wilson"
%a{href: "http://www.debbiemillman.com/"}="Debbie Millman"
%a{href: "http://www.rollingstone.com/taibbi"}="Matt Taibbi"
%a{href: "http://www.rexbox.co.uk/"}="rexbox"
%a{href: "http://37signals.com/svn/"}="37signals"
%a{href: "http://www.snipe.net/"}="snipe"
%a{href: "http://www.borischen.co/"}="Boris Chen"
%a{href: "http://sufjan.com"}="Sufjan"