%h3.header_item="Neato"

%a{href: "http://www.gnoosic.com/"}="Gnoosic"
%a{href: "http://thelittlefriendsofprintmaking.com/"}="Little Friends of Printmaking"
%a{href: "http://vimeo.com/rogerebert"}="Roger Ebert Vimeo Channel"
%a{href: "http://www.youtube.com/user/msadaghd"}="Medhi Sadaghdar"
%a{href: "http://70sscifiart.tumblr.com/"}="70s Sci-fi Art"
%a{href: "http://www.youtube.com/user/darwinfish105/videos?flow=grid&view=0&sort=p"}="darwinfish105"
%a{href: "http://publicdomainreview.org/"}="Public Domain Review"
%a{href: "http://gulf2000.columbia.edu/maps.shtml"}="Gulf/2000 Project"
%a{href: "http://natgeofound.tumblr.com/"}="NatGeo Found"
%a{href: "http://cartographerswithoutborders.org/"}="Cartographers without borders"
%a{href: "http://www.youtube.com/user/BFIfilms/videos?sort=p&view=0&flow=grid"}="BFI Archive"
%a{href: "http://ithinkimight.com/"}="I Think I Might"
%a{href: "http://ffffound.com/"}="Ffffound"
%a{href: "http://yon-pen.tumblr.com/"}="yon-pen"
%a{href: "http://lky.ph/"}="Lucky Peach"
%a{href: "http://www.flipflopflyin.com/flipflopflyball/"}="Flip Flop Fly Ball"
%a{href: "https://www.youtube.com/user/Vsauce"}="Vsauce"
%a{href: "http://www.retronaut.com"}="Retronaut"