%h3.header_item Denver News

%a{href: "http://denverinfill.com/blog/"} Denver Infill
%a{href: "http://denver.streetsblog.org/"} Streetsblog Denver
%a{href: "http://denverurbanism.com/"} Denver Urbanism
%a{href: "http://www.bizjournals.com/denver"} Denver Business News
%a{href: "https://businessden.com/"} BusinessDen
%a{href: "https://denverite.com/"} Denverite
%a{href: "https://coloradosun.com/"} Colorado Sun
