%h3.header_item="Podcasts I listen to"

%a{href: "http://www.dancarlin.com/disp.php/hharchive"}="Hardcore History"
%a{href: "http://thebuglepodcast.com"}="The Bugle"
%a{href: "http://answermethispodcast.com"}="Answer Me This"
%a{href: "http://www.radiolab.org"}="Radiolab"
%a{href: "http://www.thisamericanlife.org"}="This American Life"
%a{href: "http://howtodoeverything.org"}="How to do Everything"
%a{href: "http://www.bbc.co.uk/programmes/b006qshd"}="More or Less"
%a{href: "http://freakonomics.com"}="Freakonomics"
%a{href: "http://www.npr.org/blogs/money/"}="Planet Money"
%a{href: "http://www.laphamsquarterly.org"}="Lapham's Quarterly"
%a{href: "http://99percentinvisible.org"}="99% Invisible"
%a{href: "http://thememorypalace.us"}="The Memory Palace"
%a{href: "http://www.bbc.co.uk/podcasts/series/thpop"}="Pop-Up Ideas"
%a{href: "http://storycollider.org"}="The Story Collider"
%a{href: "http://toe.prx.org"}="Benjamen Walker's Theory of Everything"
%a{href: "http://www.onthemedia.org/blogs/on-the-media/"}="TLDR"
%a{href: "http://www.startalkradio.net"}="StarTalk"
%a{href: "http://thestarters.nba.com"}="The Basketball Jones"