%h3.header_item Favorite Restaurants in Denver

%p.small{ style: 'color: #76520E;' } Spendy:
%a{href: "http://zcuisineonline.com/"} Z Cuisine
%a{href: "http://fruitionrestaurant.com/"} Fruition
%a{href: "http://www.theplimoth.com/desktop/index.html"} The Plimoth
%a{href: "http://www.potagerrestaurant.com/"} Potager
%a{href: "http://sushiden.net/"} Sushi Den
%span /
%a{href: "http://www.izakayaden.net/"} Izakaya Den
%a{href: "http://sartos.com/"} Sarto's

%p.small{ style: 'color: #76520E;' } On a budget:
%a{href: "http://trattoriastella.squarespace.com/"} Stella
%a{href: "http://www.hornetrestaurant.com/#/home"} The Hornet
%a{href: "http://www.newsaigon.com/home.html"} New Saigon
%a{href: "http://pho95noodlehouse.com/"} Pho 95
%a{href: "http://www.seoulkoreanbbq.com/"} Seoul BBQ

