%h3.header_item Favorite Restaurants in Denver

%p.small{ style: 'color: #76520E;' } Super good and affordable:
%a{href: "http://workandclassdenver.com/"} Work & Class
%a{href: "http://www.theplimoth.com/desktop/index.html"} The Plimoth

%p.small{ style: 'color: #76520E;' } Spendy:
%a{href: "http://zcuisineonline.com/"} Z Cuisine
%a{href: "http://fruitionrestaurant.com/"} Fruition
%a{href: "http://www.potagerrestaurant.com/"} Potager
%a{href: "http://sushiden.net/"} Sushi Den
%span +
%a{href: "http://www.izakayaden.net/"} Izakaya Den
%a{href: "http://bistrobarbes.com/"} Bistro Barbes
%a{href: "http://www.coltandgray.com/"} Colt & Gray
%a{href: "http://table6denver.com/"} Table 6

%p.small{ style: 'color: #76520E;' } On a budget:
%a{href: "http://cherrycricket.com/"} The Cherry Cricket
%a{href: "http://trattoriastella.squarespace.com/"} Stella
%a{href: "http://www.hornetrestaurant.com/#/home"} The Hornet
%a{href: "http://fotmdenver.com/"} Fire on the Mountain
%a{href: "http://www.newsaigon.com/home.html"} New Saigon
%a{href: "http://pho95noodlehouse.com/"} Pho 95
%a{href: "http://www.seoulkoreanbbq.com/"} Seoul BBQ

%p.small{ style: 'color: #76520E;' } Watering holes (+ small food):
%a{href: "http://williamsandgraham.com/"} Williams & Graham
%a{href: "http://cooperlounge.com/"} Cooper Lounge
%a{href: "http://www.saintellie.com/"} Ste. Ellie
%a{href: "http://www.mountainsunpub.com/locations.php"} Mountain Sun + Vine St.
%a{href: "http://bohemianbiergarten.com/"} Bohemian Biergarten

 
