%h3.header_item="Delicious"

%a{href: "http://zcuisineonline.com/"}="Z Cuisine"
%a{href: "http://www.potagerrestaurant.com/"}="Potager"
%a{href: "http://sushiden.net/"}="Sushi Den"
%a{href: "http://fruitionrestaurant.com/"}="Fruition"
%a{href: "http://trattoriastella.squarespace.com/"}="Stella"
%a{href: "http://cafeaion.com/AIon1.2/Home.html"}="Cafe Aion"
%a{href: "http://www.hornetrestaurant.com/#/home"}="The Hornet"