%h3.header_item Favorite Food in Denver

%p.small{ style: 'color: #76520E;' } Super good and affordable:
%a{href: "http://workandclassdenver.com/"} Work & Class
%a{href: "http://hopalleydenver.com/"} Hop Alley

%p.small{ style: 'color: #76520E;' } Spendy:
%a{href: "http://sushiden.net/"} Sushi Den
%a{href: "http://fruitionrestaurant.com/"} Fruition
%a{href: "http://www.theplimoth.com/desktop/index.html"} The Plimoth
%a{href: "http://www.potagerrestaurant.com/"} Potager
%a{href: "https://www.tavernettadenver.com/"} Tavernetta
%a{href: "https://ilpostodenver.com/"} Il Posto
%a{href: "https://www.oakatfourteenth.com/"} Oak
%a{href: "http://mercantiledenver.com/"} Mercantile
%a{href: "http://www.izakayaden.net/"} Izakaya Den
%a{href: "http://www.matsuhisavail.com/"} Mastuhisa

%p.small{ style: 'color: #76520E;' } On a budget:
%a{href: "http://www.newsaigon.com/home.html"} New Saigon
%a{href: "http://pho95noodlehouse.com/"} Pho 95
%a{href: "http://places.singleplatform.com/us-thai-cafe/menu"} US Thai
%a{href: "https://www.facebook.com/LaoWangNoodleHouse/"} Lao Wang Noodle House
%a{href: "https://www.postbrewing.com/rosedale/"} The Post
%a{href: "http://fotmdenver.com/"} Fire on the Mountain
%a{href: "http://www.seoulkoreanbbq.com/"} Seoul BBQ
%a{href: "http://trattoriastella.squarespace.com/"} Stella
%a{href: "http://cherrycricket.com/"} The Cherry Cricket
%a{href: "http://www.hornetrestaurant.com/#/home"} The Hornet

%p.small{ style: 'color: #76520E;' } Watering holes (+ small food):
%a{href: "http://williamsandgraham.com/"} Williams & Graham
%a{href: "https://www.littlemachinebeer.com/"} Little Machine
%a{href: "https://www.zunistreetbrewing.com/"} Zuni
%a{href: "http://cooperlounge.com/"} Cooper Lounge
%a{href: "http://www.saintellie.com/"} Ste. Ellie
%a{href: "http://www.mountainsunpub.com/locations.php"} Mountain Sun + Vine St.
%a{href: "http://www.hogsheadbrewery.com/"} Hogshead
