%h3.header_item="Visit Often"

%a{href: "http://kottke.org"}="Kottke"
%a{href: "http://digg.com"}="Digg"
%a{href: "http://oncethis.com"}="OnceThis"
%a{href: "http://www.grantland.com"}="Grantland"
%a{href: "http://www.reddit.com"}="Reddit"
%a{href: "http://www.nytimes.com"}="NYTimes"
%a{href: "http://www.economist.com"}="Economist"
%a{href: "https://news.ycombinator.com"}="Hacker News"
%a{href: "http://www.citylab.com/"}="CityLab"
%a{href: "http://www.theatlantic.com/photo/"}="The Atlantic Photo"
%a{href: "http://www.newyorker.com"}="New Yorker"
%a{href: "http://aeon.co/magazine/"}="Aeon"
%a{href: "http://thewirecutter.com"}="Wirecutter"
%a{href: "http://denver.eater.com"}="Eater Denver"
%a{href: "http://blog.iso50.com"}="ISO50/Tycho"
%a{href: "http://soundcloud.com"}="Soundcloud"