:scss
  @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400);

  body {
    background-color: #fff;
    color: #000;
    font-family: "Roboto Slab", "Courier New", Courier, monospace;
    line-height: 1.6em;
  }

  a {
    color: #2000BC;
    &:visited {
      color: #6B10BC;
    }
  }

  h3 {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  main {
    section {
      margin: 1.6em 0 0 0;
    }
  }

  .accounts {
    margin: 1em 0 1em 0;
  }

  .main_container {
    margin: 1em auto 8em auto;
    width: 50%;
  }

  .small {
    font-size: 0.8em;
  }

  .title_item {
    margin: 0 0.6em 0 0;
  }

  .tw, .tw:visited {
    color: #4099FF;
  }
  .fb, .fb:visited {
    color: #3B5998;
  }
  .in, .in:visited {
    color: #063660;
  }
  .li, .li:visited {
    color: #0e76a8;
  }
  .gh, .gh:visited {
    color: #555555;
  }
  .lf, .lf:visited {
    color: #e31b23;
  }
  .sc, .sc:visited {
    color: #ff5500;
  }

  @media only screen and (max-width: 980px) {
    body {
      font-size: 1.4em;
    }
    main {
      margin: 2em auto 0 auto;
      width: auto;
    }
    section {
      line-height: 1.7;
      margin: 1em 0;
    }
    .main_container {
      width: auto;
    }
  }

