.main_container
  %h1.title.title_item="Ian Henry Smith (.com)"

  .accounts
    %a.h2.title_item.tw{href: "https://twitter.com/ianhenrys"}
      ="twitter"

    %a.h2.title_item.gh{href: "https://github.com/ianisborn"}
      ="github"

    %a.h2.title_item.li{href: "https://www.linkedin.com/in/ianhenrysmith/"}
      ="linkedin"

  %main
    - %w(about restaurants cities denver).each do |section|
      %section{id: section, class: section_classes(section)}
        = render partial: section
