.main_container
  %section
    %h1.title.title_item="Ian Henry Smith"

    %a.h2.title_item.tw{href: "https://twitter.com/ianhenrys"}
      ="@ianhenrys"

    %a.h2.title_item.fb{href: "https://www.facebook.com/ianhenrysmith"}
      ="fb"

    %a.h2.title_item.li{href: "http://www.linkedin.com/profile/view?id=33750806"}
      ="linkedin"

    %a.h2.title_item.in{href: "http://instagram.com/ianhenrysmith"}
      ="instagram"

    %a.h2.title_item.gh{href: "https://github.com/ianisborn"}
      ="github"

    %a.h2.title_item.lf{href: "http://www.last.fm/user/ianisborn"}
      ="last.fm"

  %section.hidden
    ="I'm a web developer at #{link_to( "Kapost", "http://kapost.com")}.".html_safe

  %main
    - %w(podcasts side_projects).each do |section|
      %section
        = render partial: section