.main_container
  %h1.title.title_item="Ian Henry Smith (.com)"

  .accounts
    %a.h2.title_item.tw{href: "https://twitter.com/ianhenrys"}
      ="@ianhenrys"

    %a.h2.title_item.fb{href: "https://www.facebook.com/ianhenrysmith"}
      ="facebook"

    %a.h2.title_item.li{href: "http://www.linkedin.com/profile/view?id=33750806"}
      ="linkedin"

    %a.h2.title_item.in{href: "http://instagram.com/ianhenrysmith"}
      ="instagram"

    %a.h2.title_item.gh{href: "https://github.com/ianisborn"}
      ="github"

    %a.h2.title_item.lf{href: "http://www.last.fm/user/ianisborn"}
      ="lastfm"

    %a.h2.title_item.sc{href: "https://soundcloud.com/ianhenrysmith"}
      ="soundcloud"
    

  %main
    - %w(about podcasts content restaurants cities cool sites denver apps side_projects).each do |section|
      %section{id: section, class: section_classes(section)}
        = render partial: section