.h1="ianhenrysmith.com"

= link_to "@ianhenrys", "http://twitter.com/ianhenrys"

.block_1
  ="I'm a web developer at #{link_to( "Kapost", "http://kapost.com")}.".html_safe
  
.block_1
  %p="side projects:"
  %a{href: "http://oncethis.com"}="OnceThis"